.hyextension_tooltip {
  position: absolute;
  background-color: rgba( 186, 147, 41, 0.9 );
  box-shadow: 0 0 0 2px white,
              0 0 0 4px black;
  z-index: 10;
  border:1px solid;
  white-space:nowrap;
}
